body 
{
    background-image: url("../images/shark-15.jpg");
    background-size: cover;
}

.grad {
    background-image: radial-gradient(rgb(17, 74, 128), #040133);
}

#title 
{
    font-size: 40px;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

#loginDiv
{
    font-size: 30px;
    width: 40%;
    margin-top: 10%;
    margin-left:5%;
    padding: 2px;
    background-color: #01225f00;
}

.box {
    --mask:
      radial-gradient(40.36px at 57.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 60px)/51% 120px repeat-y,
      radial-gradient(40.36px at -27px 50%,#0000 99%,#000 101%) 30px 50%/calc(51% - 30px) 120px repeat-y,
          radial-gradient(40.36px at calc(100% - 57.00px) 50%,#000 99%,#0000 101%) 100% 50%/51% 120px repeat-y,
      radial-gradient(40.36px at calc(100% + 27.00px) 50%,#0000 99%,#000 101%) calc(100% - 30px) calc(50% - 60px)/calc(51% - 30px) 120px repeat-y;
    -webkit-mask: var(--mask);
            mask: var(--mask);
     height: 90%;
     width: 25%;
     /* margin-top: 2%; */
     /* background: linear-gradient(180deg,rgb(96, 163, 250),rgb(1, 62, 160)); */
     opacity: .5;
  }

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 24px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.register
{
    font-size: 20px;
    border-radius: 20px;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #5c509700;
    color: #FFFFFF;
    /* opacity: 0%; */
}

#loginName
{
	font-size: 25px;
    background-color: #f0e0e0;
}
#loginPassword
{
	font-size: 25px;
    background-color: #f0e0e0;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: 'Ubuntu', sans-serif;
    color: #f0e0e0;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}


.container_row{
    display: grid;
  }
  
.layer1, .layer2{
grid-column: 1;
grid-row: 1;
 }