body 
{
    background-image: url("../images/shark-15.jpg");
    background-size: cover;
}

.grad {
    background-image: radial-gradient(rgb(17, 74, 128), #040133);
}

#title 
{
    font-size: 40px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

#loginDiv
{
    font-size: 30px;
    width: 450px;
    margin-top: 75px;
    margin-left: 80px;
    /* padding: 2px; */
    background-color: #06255f80;
    border: #ffffff solid 5px;
    border-radius: 20%;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 24px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.register
{
    font-size: 20px;
    border-radius: 20px;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #5c509700;
    color: #FFFFFF;
    /* opacity: 0%; */
}

#loginName
{
	font-size: 25px;
    background-color: #f0e0e0;
}
#loginPassword
{
	font-size: 25px;
    background-color: #f0e0e0;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

/*input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
}*/

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: 'Ubuntu', sans-serif;
    color: #f0e0e0;
}

#loginResult{
    display: inline-block;
    font-size: 20px;
    width: 90%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ff0008;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}


.container_row{
    display: grid;
  }
  
.layer1, .layer2{
grid-column: 1;
grid-row: 1;
 }